body {
  background-color: black;
  margin: 0;
}

a {
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
}

 
.menu-wrapper {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
 
.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-left: 1rem;

  
}
 

#nav-icon {
  display: none;
  width: 2.5rem;
  height: 2.2rem;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

 

#nav-icon span {
  transition: 0.25s ease-in-out;
  transform-origin: center center;
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 12px;
}

#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(-45deg);
  top: 10px;
}


@media (max-width: 768px) {
  #nav-icon {
    display: block;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
    padding: 2rem;
    box-sizing: border-box;
 
  }


.menu-item-mask {
  overflow: hidden;
  height: 3rem; /* Adjust based on your font size */
}

.menu-item-mask a {
  display: block;
  transform: translateY(100%);
}

  .menu-list.active {
    display: flex;
 
  }

  .menu-list li a {
    display: block;

    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 3rem;       
  }


  .menu-list li {
    margin-bottom: 2rem;      
  }





}







/* 



 
 

@media (max-width: 768px) {
  #nav-icon {
    display: block;
  }

  a {
    font-size: 3rem;
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;
  }
}

#nav-icon {
display: none;
  width: 2.5rem;
  height: 2.2rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
 
}

#nav-icon span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
 
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  left: 0px;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
  left: 0px;
} */
