 
a {
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
}

.menu-wrapper {
  height: 120px;
  width: 100%;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.menu-list {
  display: none;
  flex-direction: column;
  list-style-type: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 300px;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 100;
}

.menu-list.active {
  display: flex;
}

.menu-list li {
   
  margin-bottom: 1rem;
}

.menu-list li a {
  display: block;
  font-size: clamp(3rem, 5vw, 4rem);
   
}
 
.menu-item-wrapper {
  position: relative;
  transform: rotateX(0deg);
  transform-origin: center bottom;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
  /* border: 1px solid rgb(208, 255, 0); */
   

}

.menu-item-wrapper:hover {
  transform: rotateX(90deg) translateY(20px); 
   
}

.original-item {
  color: rgb(221, 221, 221);
  transform: rotateX(0deg) translateZ(calc(5vh + 1rem));
  transition: opacity 0.2s ease-in-out;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  
  
  /* border: 1px solid red; */

}

.hover-item {
  transform: rotateX(-90deg);
  transform-origin: bottom center;
  /* border: 1px solid rgb(12, 45, 255); */
  font-weight: 100;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: none;
  z-index: 1;
}

.menu-overlay.active {
  display: block;
}





/* 
.menu-item-mask:hover .menu-item-wrapper {
  transform: rotateX(-90deg);
}
 */

/* 



 
 

@media (max-width: 768px) {
  #nav-icon {
    display: block;
  }

  a {
    font-size: 3rem;
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;
  }
}

#nav-icon {
display: none;
  width: 2.5rem;
  height: 2.2rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
 
}

#nav-icon span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
 
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  left: 0px;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
  left: 0px;
} */
