---
import Layout from '../layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import Footer from '@components/Footer.astro'
import Main from '@components/Main.astro'

import '../styles/globals.css'
import '../styles/all.min.css'
import '../styles/shortcodes.css'

import Preloader from '@components/Preloader.astro'

interface Props {
  class?: string
  menuColor?: string
}

const { class: className = '', menuColor = '#000000' } = Astro.props
---

<Layout
  title="Edison Army Homepage"
  headerClass="white-header fullscreen-menu invert-header"
  bodyClass=""
  primaryColor="#8c6144"
  >
  <main>
    <div class="cd-index cd-main-content">
      <div id="page-content" class="light-content" data-bgcolor="#0c0c0c">
        <Hero />
        <Main />
        <div id="app"></div>
      </div>
    </div>
  </main>
  <div class="cd-cover-layer"></div>
  <div id="clone-image">
    <div class="hero-translate"></div>
  </div>
  <div id="rotate-device"></div>
</Layout>

<script is:inline src="/scripts.js" type="module" "client:load": true;></script>
<script is:inline src="/plugins.js" type="module" "client:load": true;></script>
<script is:inline src="/GridToFullScreen.js" type="module" "client:load": true;
></script>
