---
import { type CollectionEntry, getCollection } from 'astro:content'
import Layout from 'src/layouts/Layout.astro'
import ProjectHero from '@components/ProjectHero.astro'
import { ClientRouter } from 'astro:transitions'

import '@styles/globals.css'
import '@styles/all.min.css'
import '@styles/shortcodes.css'
import '@styles/testing.css'
---

<Layout>

  <head>
  <ClientRouter />
</head>

  <body class="uppercase-titles">
    <main>
      <div class="cd-index cd-main-content">
        <div id="page-content">
          <div id="content-scroll">
            <div id="main">
              <div id="hero" class="has-image autoscroll">
                <div id="hero-styles">
                  <div
                    id="hero-caption"
                    class="content-full-width text-align-center parallax-scroll-caption"
                  >
                    <div class="inner">
                      <h1
                        class="hero-title caption-timeline primary-font-title"
                      >
                        <span><em>The</em> Handbag</span>
                      </h1>
                      <div class="hero-arrow link caption-timeline">
                        <span><i class="arrow-icon"></i></span>
                      </div>
                    </div>
                  </div>
                  <div id="hero-description" class="content-max-width">
                    <div class="inner">
                      <p class="bigger">About The Project</p>
                      <p class="has-opacity">
                        Explore our project pages for a showcase of diverse
                        content created using unique shortcodes, highlighting
                        our template's impressive features.
                      </p>
                      <br />
                      <p class="bigger no-margins">Date</p>
                      <p class="has-opacity">May 2023</p>
                      <p class="bigger no-margins">Role</p>
                      <p class="has-opacity no-margins">
                        Art Direction, Web Design, Production
                      </p>
                      <hr />
                      <p class="has-animation">
                        [ <a
                          class="link-text"
                          target="_blank"
                          href="https://themeforest.net/user/clapat/portfolio"
                          ><span class="link" data-hover="View Website"
                            >View Website</span
                          ></a
                        > ]
                      </p>
                    </div>
                  </div>
                  <div id="hero-footer">
                    <div class="hero-footer-left">
                      <div class="button-wrap right scroll-down">
                        <div class="icon-wrap parallax-wrap">
                          <div class="button-icon parallax-element">
                            <i class="arrow-icon-down"></i>
                          </div>
                        </div>
                        <div class="button-text sticky right">
                          <span data-hover="Scroll to Explore"
                            >Scroll to Explore</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="hero-footer-right">
                      <div
                        id="share"
                        class="page-action-content"
                        data-text="Share:"
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="hero-image-wrapper">
                <div id="hero-background-layer" class="parallax-scroll-image">
                  <div
                    id="hero-bg-image"
                    style="background-image:url(images/01hero.jpg)"
                  >
                  </div>
                </div>
              </div>

              <div id="main-content">
                <div id="main-page-content">
                  <div
                    class="content-row row_padding_top row_padding_bottom dark-section text-align-center"
                    data-bgcolor="#0c0c0c"
                  >
                    <h2 class="has-mask-fill no-margins secondary-font-title">
                      The
                    </h2>
                    <h2 class="has-mask-fill">Gallery</h2>
                  </div>

                  <div
                    class="content-row row_padding_bottom dark-section"
                    data-bgcolor="#0c0c0c"
                  >
                    <div
                      class="one_third vertical-parallax"
                      data-startparallax="0"
                      data-endparallax="0.3"
                    >
                      <figure>
                        <a
                          href="images/projects/manifesto01.jpg"
                          class="image-link"
                          ><img
                            src="images/projects/manifesto01.jpg"
                            alt="Image Title"
                          /></a
                        >
                        <figcaption>Image Caption Here</figcaption>
                      </figure>
                    </div>

                    <div
                      class="one_third vertical-parallax"
                      data-startparallax="0"
                      data-endparallax="-0.1"
                    >
                      <figure>
                        <a
                          href="images/projects/manifesto02.jpg"
                          class="image-link"
                          ><img
                            src="images/projects/manifesto02.jpg"
                            alt="Image Title"
                          /></a
                        >
                        <figcaption>Image Caption Here</figcaption>
                      </figure>
                    </div>

                    <div
                      class="one_third last vertical-parallax"
                      data-startparallax="0"
                      data-endparallax="0.15"
                    >
                      <figure>
                        <a
                          href="images/projects/manifesto03.jpg"
                          class="image-link"
                          ><img
                            src="images/projects/manifesto03.jpg"
                            alt="Image Title"
                          /></a
                        >
                        <figcaption>Image Caption Here</figcaption>
                      </figure>
                    </div>
                  </div>

                  <div
                    class="content-row small row_padding_top row_padding_bottom dark-section"
                    data-bgcolor="#0c0c0c"
                  >
                    <h4>
                      <span class="has-span-indent">Short Quick Tip</span>
                      <span class="has-mask-fill"
                        >Our project pages are a playground for creativity where
                        we leverage an assortment of shortcodes to build
                        captivating content.</span
                      >
                    </h4>
                  </div>

                  <div
                    class="content-row full dark-section"
                    data-bgcolor="#171717"
                  >
                    <figure class="has-parallax">
                      <img src="images/01hero.jpg" alt="Image Title" />
                    </figure>
                  </div>
                </div>

                <div id="project-nav" class="">
                  <div class="next-project-wrap">
                    <p class="all-works">
                      [ <a
                        class="link-text ajax-link"
                        data-type="page-transition"
                        href="index-showcase-carousel.html"
                        ><span class="link" data-hover="View All Works"
                          >View All Works</span
                        ></a
                      > ]
                    </p>
                    <div
                      class="next-project-caption text-align-center content-max-width"
                    >
                      <div class="next-caption-wrapper">
                        <div class="caption-wrapper">
                          <a
                            class="next-ajax-link-project auto-trigger"
                            data-type="page-transition"
                            href="/project02"
                            data-color="#963a8d"
                            data-firstline="Next"
                            data-secondline="Project"></a>
                          <div class="next-caption">
                            <div class="next-hero-counter"><span>0</span></div>
                            <div class="next-hero-title primary-font-title">
                              <span><em>Woolen</em> Craft</span>
                            </div>
                            <div class="next-hero-subtitle">
                              <span>Next Project</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="next-hero-progress"><span></span></div>
                    <div class="next-project-image-wrapper">
                      <div class="next-project-image">
                        <div
                          class="next-project-image-bg"
                          style="background-image:url(images/02hero.jpg)"
                        >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
     
        </div>
      </div>
    </main>

    <div class="spacer-end"></div>

<!--     
    <script is:inline>
      let hasTriggered = false
      
      const observer = new IntersectionObserver(
        (entries) => {
          console.log('Observer callback triggered')
          entries.forEach((entry) => {
            console.log('Entry intersection status:', entry.isIntersecting)
    
            if (entry.isIntersecting && !hasTriggered) {
              hasTriggered = true
              const nextLink = document.querySelector('.next-ajax-link-project')
              console.log('Found next link:', nextLink)
              
              const nextPage = nextLink.getAttribute('href')
              if (nextPage) {
                window.location.replace(nextPage)
              }
            }
          })
        },
        {
          threshold: 0.8
        }
      )
    
      const spacerEnd = document.querySelector('.spacer-end')
      console.log('Found spacer-end element:', spacerEnd)
      if (spacerEnd) {
        console.log('Starting observation of spacer-end')
        observer.observe(spacerEnd)
      }
    </script> -->
    
    
    
    
    

 

    

 
  </body>
</Layout>

<div id="app"></div>
<div class="cd-cover-layer"></div>
<div id="clone-image">
  <div class="hero-translate"></div>
</div>
<div id="rotate-device"></div>

<script src="../lib/clapat"></script>
<script is:inline src="/scripts.js" type="module" "client:load": true;></script>
<script is:inline src="/GridToFullScreen.js" type="module" "client:load": true;
></script>




 
