---
import { type CollectionEntry, getCollection } from 'astro:content'
import Layout from 'src/layouts/Layout.astro'
import ProjectHero from '@components/ProjectHero.astro'

import '@styles/globals.css'
import '@styles/all.min.css'
import '@styles/shortcodes.css'
import '@styles/testing.css'

export async function getStaticPaths() {
  const projects = await getCollection('projects')
  return projects.map((project: CollectionEntry<'projects'>) => ({
    params: { slug: project.slug },
    props: { project },
  }))
}

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props as Props
---

<Layout>
  <body class="uppercase-titles">
    <main>
      <div class="cd-index cd-main-content">
        <div id="page-content">
          <div id="content-scroll">
            <ProjectHero />
          </div>
          <!--/Content Scroll -->

          <div id="app"></div>
        </div>
      </div>
    </main>

    <div class="cd-cover-layer"></div>
    <div id="magic-cursor">
      <div id="ball">
        <div id="ball-drag-x"></div>
        <div id="ball-drag-y"></div>
        <div id="ball-loader"></div>
      </div>
    </div>
    <div id="clone-image">
      <div class="hero-translate"></div>
    </div>
    <div id="rotate-device"></div>
  </body>
</Layout>

<script src="../lib/clapat"></script>

<script is:inline src="/scripts.js" type="module" "client:load": true;></script>
<script is:inline src="/GridToFullScreen.js" type="module" "client:load": true;
></script>
