---
import Header from '@components/Header.astro';
---

<html>
  <head>
    <title>Header Test</title>
    <!-- Include any necessary styles -->
  </head>
  <body>
    <Header />
    <!-- You can add more elements here to simulate different page states -->
  </body>
</html>