---
const currentPath = Astro.url.pathname
---

<footer class="hidden">
  <div id="footer-container">
    <div id="backtotop" class="button-wrap left">
      <div class="icon-wrap parallax-wrap">
        <div class="button-icon parallax-element">
          <i class="fa-solid fa-angle-up"></i>
        </div>
      </div>
      <div class="button-text sticky left">
        <span data-hover="Back Top">Back Top</span>
      </div>
    </div>

    <div class="footer-middle">
      <div class="copyright">
        2023 © <a class="link" target="_blank" href="https://www.clapat.com/"
          >ClaPat</a
        >. All rights reserved.
      </div>
    </div>

    <div class="socials-wrap">
      <div class="socials-icon"><i class="fa-solid fa-share-nodes"></i></div>
      <div class="socials-text">Follow Us</div>
      <ul class="socials">
        <li>
          <span class="parallax-wrap"
            ><a
              class="parallax-element"
              href="https://www.dribbble.com/clapat"
              target="_blank">Db</a
            ></span>
        </li>
        <li>
          <span class="parallax-wrap"
            ><a
              class="parallax-element"
              href="https://www.twitter.com/clapatdesign"
              target="_blank">Tw</a
            ></span>
        </li>
        <li>
          <span class="parallax-wrap"
            ><a
              class="parallax-element"
              href="https://www.behance.com/clapat"
              target="_blank">Be</a
            ></span>
        </li>
        <li>
          <span class="parallax-wrap"
            ><a
              class="parallax-element"
              href="https://www.facebook.com/clapat.ro"
              target="_blank">Fb</a
            ></span>
        </li>
        <li>
          <span class="parallax-wrap"
            ><a
              class="parallax-element"
              href="https://www.instagram.com/clapat.themes/">In</a
            ></span>
        </li>
      </ul>
    </div>
  </div>
</footer>
