---

const currentPath = Astro.url.pathname;
import '@styles/globals.css'
import '@components/PageTransition.astro'
import '../styles/globals.css';
import '../styles/all.min.css'
import '../styles/shortcodes.css'

interface Props {
  class?: string;
  menuColor?: string;
}

const { class: className = "", menuColor = "#000000" } = Astro.props;


---


<header class={className} data-menucolor={menuColor}>
    <div id="header-container">
    
    
    <!-- Logo -->
    <div id="logo" >
        <a   data-type="page-transition" href="index.html">
            <img class="black-logo" src="images/logo.png" alt="ClaPat Logo">
            <img class="white-logo" src="images/logo-white.png" alt="ClaPat Logo">
        </a>
    </div>
    <!--/Logo -->
                
    
    <!-- Navigation -->
    <nav> 
        <div class="nav-height">
            <div class="outer">
                <div class="inner">           
                    <ul data-breakpoint="10025" class="flexnav">
                        <li class="link menu-timeline"><a class="ajax-link active" data-type="page-transition" href="/"><div class="before-span"><span data-hover="Home">Home</span></div></a></li>
                        <li class="link menu-timeline"><a class="ajax-link active" data-type="page-transition" href="/showcase"><div class="before-span"><span data-hover="Showcase">Showcase</span></div></a></li>
                        <li class="link menu-timeline"><a class="ajax-link" data-type="page-transition" href="about.html"><div class="before-span"><span data-hover="About">About</span></div></a></li>
                        <li class="link menu-timeline"><a class="ajax-link" data-type="page-transition" href="contact.html"><div class="before-span"><span data-hover="Contact">Contact</span></div></a></li>
                        <li class="link menu-timeline"><a class="" href="#"><div class="before-span"><span data-hover="More">More</span></div></a>
                            <ul>
                                <li><a class="ajax-link" href="typography.html" data-type="page-transition">Typography</a></li>                                         
                                <li><a class="ajax-link" href="multimedia.html" data-type="page-transition">Multimedia</a></li>
                                <li><a class="ajax-link" href="shortcodes.html" data-type="page-transition">Shortcodes</a></li>
                            </ul>
                        </li>
                        
                    </ul>            
                </div>
            </div> 
        </div>          
    </nav>
    <!--/Navigation -->
    
    
    <!-- Menu Burger -->
    <div class="button-wrap right menu burger-lines">
        <div class="icon-wrap parallax-wrap">
            <div class="button-icon parallax-element">
                <div id="burger-wrapper">
                    <div id="menu-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-text sticky right"><span data-hover="Menu">Menu</span></div> 
    </div>
    <!--/Menu Burger -->

    </div>
</header>



 




 

 



 
 


 