<div id="hero" class="light-text">
  <div id="hero-styles">
    <div
      id="hero-caption"
      class="content-full-width parallax-scroll-caption text-align-left"
    >
      <div class="inner">
        <h1 class="caption-timeline light-text">
          <span><em>Showcase</em></span>
        </h1>
        <div class="hero-subtitle caption-timeline"></div>
      </div>
    </div>
    <div id="hero-footer" class="has-border">
      <div class="hero-footer-left"></div>

      <div class="hero-footer-right">
        <div class="filters-options-wrapper">
          <a id="all" class="filter-option is_active" href="#" data-filter=""
            ><span class="light-text" data-hover="All">All</span></a
          >
          <a class="filter-option" href="#" data-filter="design-filter"
            ><span class="light-text" data-hover="Design">Design</span></a
          >
          <a class="filter-option" href="#" data-filter="video-filter"
            ><span class="light-text" data-hover="Video">Video</span></a
          >
          <a class="filter-option" href="#" data-filter="photo-filter"
            ><span class="light-text" data-hover="Photo">Photo</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
