<div id="hero">
  <div id="hero-styles">
    <div
      id="hero-caption"
      class="content-full-width parallax-scroll-caption text-align-left"
    >
      <div class="inner">
        <h1 class="hero-title caption-timeline">
          <span><em>Digital Visions</em></span>
          <span>Where Technology</span>
          <span>Meets Artistry</span>
        </h1>
        <div class="hero-subtitle caption-timeline">
          <span>Exploring the World of Visual Design</span>
        </div>
      </div>
    </div>
    <div id="hero-footer" class="has-border">
      <div class="hero-footer-left">
        <div class="grid-options-wrapper">
          <a class="grid-option list-view" href="#"
            ><span class="link" data-hover="Lists View"
              >Lists View</span
            ><span class="link" data-hover="Grid View"
              >Grid View</span
            ></a
          >
          <a class="grid-option shuffle-grid" href="#"
            ><span class="link" data-hover="Shuffle Grid"
              >Shuffle Grid</span
            ></a
          >
        </div>
      </div>

      <div class="hero-footer-right">
        <div class="filters-options-wrapper">
          <a
            id="all"
            class="filter-option is_active"
            href="#"
            data-filter=""
            ><span class="link" data-hover="All">All</span></a
          >
          <a
            class="filter-option"
            href="#"
            data-filter="design-filter"
            ><span class="link" data-hover="Design">Design</span
            ></a
          >
          <a
            class="filter-option"
            href="#"
            data-filter="video-filter"
            ><span class="link" data-hover="Video">Video</span></a
          >
          <a
            class="filter-option"
            href="#"
            data-filter="photo-filter"
            ><span class="link" data-hover="Photo">Photo</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>