<svg width="0" height="0" style="position: absolute;">
  <defs>
    <clipPath id="customMask" clipPathUnits="objectBoundingBox">
      <!-- Your custom mask path here -->
      <path d="M0,0 C0.5,0 0.5,1 1,1 L1,0 Z"></path>
    </clipPath>
  </defs>
</svg>

<div id="main-content">
  <!-- Main Page Content -->
  <div id="main-page-content" class="content-full-width dark">
    <!-- Row -->
    <div
      class="color-change-trigger content-row fadeout-element"
      data-bgcolor="#00011d"
    >
      <div class="clipped-image-wrapper">
        <div class="clipped-image-pin">
          <div class="clipped-image">
            <video autoplay loop muted playsinline>
              <source src="images/hero.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
            <div class="clipped-image-gradient"></div>
          </div>
        </div>

        <div class="clipped-image-content text-align-left content-full-width">
          <h2 class="has-mask-fill">
            Discover the power of full scope marketing. We diagnose business
            problems across every single marketing domain.
          </h2>
          <hr />
        </div>
      </div>

      <div class="button-wrap right button-link large-btn has-animation">
        <div class="icon-wrap parallax-wrap">
          <div class="button-icon parallax-element">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
        <a target="_blank" href="https://themeforest.net/user/clapat/portfolio"
          ><div class="button-text sticky right">
            <span data-hover="Learn More">Learn More</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!--/Row -->

  <!-- Row -->
  <div
    class="content-row full row_padding_top row_padding_bottom dark"
    data-bgcolor="#00011d"
  >
    <!-- Showcase Portfolio Holder -->
    <div id="itemsWrapperLinks">
      <div id="itemsWrapper" class="webgl-fitthumbs fx-one">
        <!-- Portfolio -->
        <div class="showcase-portfolio layout-one">
          <div
            class="clapat-item photo-filter"
            data-startparallax="-0.2"
            data-endparallax="0.2"
          >
            <div class="slide-inner trigger-item" data-centerLine="OPEN">
              <div class="img-mask">
                <a
                  class="slide-link"
                  data-type="page-transition"
                  href="project01.html"></a>
                <div class="section-image trigger-item-link">
                  <img
                    src="/images/01hero.jpg"
                    class="item-image grid__item-img"
                    alt=""
                  />
                </div>
                <img
                  src="/images/01hero.jpg"
                  class="grid__item-img grid__item-img--large"
                  alt=""
                />
              </div>
              <div class="slide-caption trigger-item-link-secondary">
                <div class="slide-title">
                  <span><em>SGC</em></span>
                </div>
                <div class="slide-date"><span>2024</span></div>
                <div class="slide-cat">
                  <span>Brand Identity</span>
                </div>
                <div class="slide-icon">
                  <i class="arrow-icon-down"></i>
                </div>
              </div>
            </div>
          </div>

          <div
            class="clapat-item design-filter"
            data-startparallax="-0.2"
            data-endparallax="0.2"
          >
            <div class="slide-inner trigger-item" data-centerLine="OPEN">
              <div class="img-mask">
                <a
                  class="slide-link"
                  data-type="page-transition"
                  href="project02.html"></a>
                <div class="section-image trigger-item-link">
                  <img
                    src="images/02hero.jpg"
                    class="item-image grid__item-img"
                    alt=""
                  />
                </div>
                <img
                  src="images/02hero.jpg"
                  class="grid__item-img grid__item-img--large"
                  alt=""
                />
              </div>
              <div class="slide-caption trigger-item-link-secondary">
                <div class="slide-title">
                  <span><em>Nevermined</em></span>
                </div>
                <div class="slide-date"><span>2024</span></div>
                <div class="slide-cat">
                  <span>Brand Identity</span>
                </div>
                <div class="slide-icon">
                  <i class="arrow-icon-down"></i>
                </div>
              </div>
            </div>
          </div>

          <div
            class="clapat-item photo-filter"
            data-startparallax="-0.2"
            data-endparallax="0.2"
          >
            <div class="slide-inner trigger-item" data-centerLine="OPEN">
              <div class="img-mask">
                <a
                  class="slide-link"
                  data-type="page-transition"
                  href="project03.html"></a>
                <div class="section-image trigger-item-link">
                  <img
                    src="images/03hero.jpg"
                    class="item-image grid__item-img"
                    alt=""
                  />
                </div>
                <img
                  src="images/03hero.jpg"
                  class="grid__item-img grid__item-img--large"
                  alt=""
                />
              </div>
              <div class="slide-caption trigger-item-link-secondary">
                <div class="slide-title">
                  <span><em>Republic</em> Note</span>
                </div>
                <div class="slide-date"><span>2024</span></div>
                <div class="slide-cat">
                  <span>Launch Support</span>
                </div>
                <div class="slide-icon">
                  <i class="arrow-icon-down"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio -->
      </div>
    </div>
    <!-- Showcase Portfolio Holder -->

    <hr /><hr />

    <h4 class="text-align-center no-margins fadeout-element">
      <em class="has-mask-fill">We solve business problems</em><br /><span
        class="has-mask-fill">using design and marketing</span
      >
    </h4>
    <br />
    <div class="button-box text-align-center has-animation fadeout-element">
      <div class="clapat-button-wrap parallax-wrap hide-ball">
        <div class="clapat-button parallax-element">
          <div class="button-border outline rounded parallax-element-second">
            <a
              class="ajax-link"
              href="index-showcase-carousel.html"
              data-type="page-transition"
            >
              <span data-hover="View Showcase">View Showcase</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Row -->

  <!-- Row -->
  <div
    class="content-row full has-clip-path row_padding_top row_padding_bottom row_padding_left row_padding_right light-section fadeout-element change-header-color"
    data-bgcolor="#f9f9f9"
  >
    <div class="list-rotator-wrapper">
      <div class="list-rotator-title has-mask-fill">[ What We Do Best ]</div>
      <div class="list-rotator-height">
        <div class="list-rotator-pin edison-blue">
          <ul class="list-rotator edison-blue">
            <li><em>Digital</em> Marketing</li>
            <li><em>Brand</em> Strategy</li>
            <li><em>Web</em> Design</li>
            <li><em>Mobile</em> App Development</li>
            <li><em>E-Commerce</em> Solutions</li>
            <li><em>UI/UX</em> Design</li>
            <li><em>SEO</em> Optimization</li>
            <li><em>Social</em> Media Management</li>
            <li><em>Content</em> Creation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/Row -->

  <!-- Row -->
  <div
    class="content-row full row_padding_top row_padding_left row_padding_right dark"
    data-bgcolor="#00011d"
  >
    <div class="news-shortcode">
      <div class="news-post in-view">
        <div class="post-head">
          <div class="post-entry-meta">
            <p>13 June 2024</p>
          </div>
          <div class="post-entry-meta">
            <p>UX and UI, Design, JavaScript</p>
          </div>
          <div class="post-article">
            <h4><em>Why you should never use</em> a Magic Cursor</h4>

            <div class="post-content">
              <p>
                Many designers feel the need to use as many animations and
                effects as possible. That certainly can put you up for the
                Awwwards, but does it really bring value for your client? Let's
                find out.
              </p>
            </div>

            <div class="button-wrap right button-link">
              <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
              <a target="_blank" href="https://medium.com/"
                ><div class="button-text sticky right">
                  <span data-hover="Read Article">Read Article</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="news-post">
        <div class="post-head">
          <div class="post-entry-meta">
            <p>13 June 2024</p>
          </div>
          <div class="post-entry-meta">
            <p>Marketing, Sales, Business Relationships</p>
          </div>
          <div class="post-article">
            <h4><em>Creating</em> Sales</h4>

            <div class="post-content">
              <p>
                The most awful thing you can do for a client -- is do exactly
                what they asked you to do. Yeah, this sounds counter-intuitive
                at least, and triggering at most, even for the cleints
                themselves. But let me explain.
              </p>
            </div>

            <div class="button-wrap right button-link">
              <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
              <a target="_blank" href="https://medium.com/"
                ><div class="button-text sticky right">
                  <span data-hover="Read Article">Read Article</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="news-post">
        <div class="post-head">
          <div class="post-entry-meta">
            <p>13 June 2024</p>
          </div>
          <div class="post-entry-meta">
            <p>UX and UI, Design, Inspiration</p>
          </div>
          <div class="post-article">
            <h4><em>Web Design</em> Trends 2024</h4>

            <div class="post-content">
              <p>
                Stay ahead of the curve with an overview of the latest web
                design trends shaping the digital landscape in 2024, and learn
                how to implement them in your projects...
              </p>
            </div>

            <div class="button-wrap right button-link">
              <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
              <a target="_blank" href="https://medium.com/"
                ><div class="button-text sticky right">
                  <span data-hover="Read Article">Read Article</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="news-post">
        <div class="post-head">
          <div class="post-entry-meta">
            <p>13 June 2024</p>
          </div>
          <div class="post-entry-meta">
            <p>UX and UI, Design, Web Development</p>
          </div>
          <div class="post-article">
            <h4><em>Mastering</em> JavaScript Basics</h4>

            <div class="post-content">
              <p>
                Dive into the fundamentals of JavaScript and gain mastery over
                the core concepts, syntax, and techniques to build dynamic and
                interactive web experiences...
              </p>
            </div>

            <div class="button-wrap right button-link">
              <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
              <a target="_blank" href="https://medium.com/"
                ><div class="button-text sticky right">
                  <span data-hover="Read Article">Read Article</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Row -->
</div>
<!--/Main Page Content -->

<!-- Page Navigation -->
<div id="page-nav">
  <div class="page-nav-wrap light">
    <div class="content-full-width text-align-left dark">
      <div class="inner">
        <a
          class="page-title next-ajax-link-page"
          data-type="page-transition"
          data-centerline="ABOUT US"
          href="about.html"
        >
          <div class="next-hero-title primary-font-title caption-timeline">
            <span><em>Discover</em></span>
            <span>Edison</span>
          </div>
        </a>
        <div class="next-hero-subtitle caption-timeline">
          <span>Experience the power of unstoppable growth</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Page Navigation -->
