---
 
const { title } = Astro.props;
import Header from "@components/Header.astro";
 
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  </head>
  <body style="background-color: black;">
 
    <Header menuColor="#0c0c0c" />
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
   
  </body>
  <style>
 


  </style>



</html>