---
 
import Header from "@components/Header.astro";
import Footer from '@components/Footer.astro'

interface Props {
  headerClass?: string;
  title?: string;
  menuColor?: string;

}

const { title } = Astro.props;
const { headerClass = "" } = Astro.props;
const { menuColor } = Astro.props;
 
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  </head>
  <body style="background-color: black;">
    <Header class={headerClass} menuColor={menuColor} />

    
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
   
   
  </body>
  <style>
 


  </style>



</html>