---
// import Header from '@components/Header.astro'
import Menu from '@components/Menu.astro'
import Footer from '@components/Footer.astro'
import { initSliderCenter } from '../lib/sliderCenter'

interface Props {
  title?: string
  headerClass?: string
  bodyClass?: string
  menuColor?: string
  primaryColor?: string
}

const { title } = Astro.props
const { headerClass = '' } = Astro.props
const { menuColor } = Astro.props
const { bodyClass = '' } = Astro.props
const { primaryColor } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class={bodyClass} data-primary-color={primaryColor}>
    <Menu />
    <article>
      <slot />
    </article>
    <Footer />
  </body>
  <style></style>
</html>
